@import 'src/index.scss';

.projects{
  margin-top: 70px;
  padding: 10px 20px;
}

.callouts{
  padding: 10px 0px;

  .callout{
    border: 4px solid $BrandLightGrey;
    margin: 10px 0px;
    padding: 10px;
    display: block;
  
    img{
      padding-right: 10px;
      width: 40px;
      vertical-align: middle;
    }
  }
}