@import 'src/index.scss';

.project{
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  width: 440px;
  margin-right: 40px;
}

.projects{
  margin-top: 60px;
  padding: 10px 20px;
  height: calc(100% - 80px);
  vertical-align: top;
  flex-direction: row;
}